{% load static %}

<div class="second-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Преимущества</p>
    <div class="swiper slider-clients second-block-sks-slider">
        <div class="swiper-wrapper slider-clients-wrapper slider-second-block-sks">
            <div class="swiper-slide slider-clients-slide">
                <div class="slider-clients__block">
                    <p class="slider-clients__block-title">Универсальность</p>
                    <p class="slider-clients__block-text">возможность передавать информацию различных типов</p>
                </div>
            </div>
            <div class="swiper-slide slider-clients-slide">
                <div class="slider-clients__block">
                    <p class="slider-clients__block-title">Надежность</p>
                    <p class="slider-clients__block-text">полное исключение несанкционированного доступа посторонних лиц
                    </p>
                </div>
            </div>
            <div class="swiper-slide slider-clients-slide">
                <div class="slider-clients__block">
                    <p class="slider-clients__block-title">Точность</p>
                    <p class="slider-clients__block-text">быстрая передача данных без искажений и потерь, позволяющая
                        моментально обмениваться данными с участниками системы</p>
                </div>
            </div>
            <div class="swiper-slide slider-clients-slide">
                <div class="slider-clients__block">
                    <p class="slider-clients__block-title">Модифицируемость</p>
                    <p class="slider-clients__block-text">установка, демонтаж и замена оборудования в максимально сжатые
                        сроки без отключения входящих в систему линий</p>
                </div>
            </div>
            <div class="swiper-slide slider-clients-slide">
                <div class="slider-clients__block">
                    <p class="slider-clients__block-title">Долговечность</p>
                    <p class="slider-clients__block-text">многолетняя бесперебойная работа даже при минимальном
                        периодическом обслуживании</p>
                </div>
            </div>
        </div>
    </div>
    <div class="second-block-sks-no-slider">
        <div class="second-block-sks-no-slider-top">
            <div class="slider-clients__block">
                <p class="slider-clients__block-title">Универсальность</p>
                <p class="slider-clients__block-text">возможность передавать информацию различных типов</p>
            </div>
            <div class="slider-clients__block">
                <p class="slider-clients__block-title">Надежность</p>
                <p class="slider-clients__block-text">полное исключение несанкционированного доступа посторонних лиц
                </p>
            </div>
        </div>
        <div class="second-block-sks-no-slider-middle">
            <div class="slider-clients__block">
                <p class="slider-clients__block-title">Точность</p>
                <p class="slider-clients__block-text">быстрая передача данных без искажений и потерь, позволяющая
                    моментально обмениваться данными с участниками системы</p>
            </div>
        </div>
        <div class="second-block-sks-no-slider-bottom">
            <div class="slider-clients__block">
                <p class="slider-clients__block-title">Модифицируемость</p>
                <p class="slider-clients__block-text">установка, демонтаж и замена оборудования в максимально сжатые
                    сроки без отключения входящих в систему линий</p>
            </div>
            <div class="slider-clients__block">
                <p class="slider-clients__block-title">Долговечность</p>
                <p class="slider-clients__block-text">многолетняя бесперебойная работа даже при минимальном
                    периодическом обслуживании</p>
            </div>
        </div>
    </div>
</div>