{% load static %}

<div class="first-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Что такое СКС</p>
    <div class="text-block">
        СКС – кабельные системы, применяемые для коммуникации в различных капитальных сооружениях.<br/><br/><br/>

        Они представляют собой <span class="main-color">развитую кабельную инфраструктуру</span>, служащую для<br/>
        передачи данных между исполнительными устройствами или рабочими местами<br/> 
        персонала. Оборудование исключает несанкционированный доступ к<br/>
        информации, а также обеспечивает ее защиту.
    </div>

</div>