{% load static %}

<div class="fourth-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Этапы строительства сети связи</p>
    <div class="web-steps">
        <div class="web-steps__block">
            <img src="{% static 'imgs/web-steps/1.png' %}" alt="">
            <p>Прокладка кабельных трасс открытым или закрытым способом</p>
        </div>
        <div class="web-steps__block">
            <img src="{% static 'imgs/web-steps/2.png' %}" alt="">
            <p>Установка и сборка телекоммуникационных шкафов в заранее выделенных местах</p>
        </div>
        <div class="web-steps__block">
            <img src="{% static 'imgs/web-steps/3.png' %}" alt="">
            <p>Монтаж розеток и оборудования системы и их подключение</p>
        </div>
        <div class="web-steps__block">
            <img src="{% static 'imgs/web-steps/4.png' %}" alt="">
            <p>Пусконаладочные работы, в том числе тестирование и настройка</p>
        </div>
    </div>
    <button class="form-modal-button">Вызвать инженера</button>
</div>