{% load static %}

<div class="third-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Проект СКС “под ключ” — это удобно</p>
    <div class="third-block-content">
        <div class="sks-between"></div>
        <div class="project-steps">
            <div class="sks-step">
                <img src="{% static 'imgs/sks-steps/1.png' %}" alt="">
                <p>Получение данных от заказчика и их анализ</p>
            </div>

            <div class="sks-step">
                <img src="{% static 'imgs/sks-steps/2.png' %}" alt="">
                <p>Выезд специалистов на объект и его предпроектный осмотр</p>
            </div>

            <div class="sks-step">
                <img src="{% static 'imgs/sks-steps/3.png' %}" alt="">
                <p>Разработка технического задания и согласование оборудования
                </p>
            </div>

            <div class="sks-step">
                <img src="{% static 'imgs/sks-steps/4.png' %}" alt="">
                <p>Разработка проекта</p>
            </div>

            <div class="sks-step">
                <img src="{% static 'imgs/sks-steps/5.png' %}" alt="">
                <p>Сдача готовой документации заказчику</p>
            </div>
            <div class="project-steps-top">
                <div class="sks-step">
                    <img src="{% static 'imgs/sks-steps/1.png' %}" alt="">
                    <p>Получение данных от заказчика и их анализ</p>
                </div>

                <div class="sks-step">
                    <img src="{% static 'imgs/sks-steps/2.png' %}" alt="">
                    <p>Выезд специалистов на объект и его предпроектный осмотр</p>
                </div>

                <div class="sks-step">
                    <img src="{% static 'imgs/sks-steps/3.png' %}" alt="">
                    <p>Разработка технического задания и согласование оборудования
                    </p>
                </div>
            </div>
            <div class="project-steps-bottom">
                <div class="sks-step">
                    <img src="{% static 'imgs/sks-steps/4.png' %}" alt="">
                    <p>Разработка проекта</p>
                </div>

                <div class="sks-step">
                    <img src="{% static 'imgs/sks-steps/5.png' %}" alt="">
                    <p>Сдача готовой документации заказчику</p>
                </div>
            </div>

        </div>
    </div>
    <button class="form-modal-button open-form-modal">Помогите создать проект</button>
</div>