{% load static %}

<div class="fourth-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Состав продукта. Основные модули системы</p>
    <div class="text-block">
        <span class="main-color">1. Service Desk</span> — Система взаимодействия между клиентами и службами поддержки бизнеса (IT,
        сервисная служба и др.)<br/>
        <span class="main-color">2. Мобильное рабочее место</span> — Приложение для работы мобильных сотрудников с задачами и заявками (Инженеры,
        супервайзеры, ПлейсХантеры и др.)<br/>
        <span class="main-color">3. Робот</span> — Модуль автоматически отслеживающий состояния в системе, на основании которых создает события
        (автосоздание задач)<br/>
        <span class="main-color">4. Опросы / Чеклисты</span> — Динамически создаваемые чеклисты и опросные листы. Синхронизация в едином центре<br/>
        <span class="main-color">5. Отчетность / Dashboard</span> — Гибкая отчетность и Дашборды, позволяющие оперативно влиять на ситуацию, при
        возникновении определенных условий<br/>
    </div>
</div>