{% load static %}

<div class="eighth-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="first-block-pks-bottom-title">
        <p class="main-title po1-main-title">Описание мобильной версии</p>
    </div>
    <div class="swiper3 slider-partners">
        <div class="swiper-wrapper slider-ppo1-wrapper">
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_1.jpg' %}" alt="">
                
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_2.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_3.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_4.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_6.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_7.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_8.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_9.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_10.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_11.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_12.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_13.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_14.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_15.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_16.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_17.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide po1-instr-slide">
                <img src="{% static 'imgs/po1/instr/Screenshot_18.jpg' %}" alt="">
            </div>
        </div>
        <div class="swiper3-pagination po1-slider-pagination"></div>
        <div class="swiper-button-prev po1-slider-button"></div>
            <div class="swiper-button-next po1-slider-button"></div>
    </div>
    <button class="form-modal-button po1-button-link"><a href="{% url 'po2' %}">Загрузки и цены</a></button>
</div>