{% load static %}

<div class="first-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Программное обеспечение М4 business
        Контроль. Управление. Оптимизация</p>
    <div class="text-block">Компания Принтград является правообладателем программного обеспечения, разработанного
        командой специалистов M4. На данной странице расположена полная информация по данному продукту. На странице
        <a class="main-color" href="">Загрузки и Цены</a> вам доступны для скачивания десктопная и мобильные версии продукта, а также представлена
        актуальная информация о стоимости приобретения ПО и действующих акцих.
    </div>
</div>