{% load static %}

<div class="fifth-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="third-block-outsrc-tabs">
        <div class="outsrc-tabs__buttons">
            <button class="tablinks outsrc_tablinks" id="button_1">Service Desk</button>
            <button class="tablinks outsrc_tablinks" id="button_2">Мобильная версия</button>
            <button class="tablinks outsrc_tablinks" id="button_3">Dashboard</button>
        </div>
        <div id="1" class="tabcontent outsrc_tabcontent outsrc_tabcontent__just-text fifth-po1-tab">
            <p>Мобильное приложение клиента (Личный кабинет)<br/>
                Динамические очереди обслуживания и гибкая автоматическая маршрутизация обращений<br/>
                Контроль исполнения запросов (SLA/OLA). Контроль качества<br/>
                Мотивация. KPI / Утилизация (загруженность, занятость)<br/>
                Контроль и управление остатками (CMDB)<br/>
                Учет и управление проектными работами<br/>
                Интеграция с внешними системами и различными СУБД (PostgreSQL, MSSQL, etc. JIRA, OTRS, BMC. Телефония)<br/>
            </p>
        </div>
        <div id="2" class="tabcontent outsrc_tabcontent outsrc_tabcontent__just-text fifth-po1-tab">
            <p>Работа с задачами<br/>
                Ведение хронометража<br/>
                Check-in / Check-out на точке обслуживания Фотоотчет<br/>
                Работа с ЗИП<br/>
                Печать шаблонированных документов<br/>
                Геолокация<br/>
                Построение оптимального маршрута до Точки обслуживания<br/>
                Маршрутные листы<br/>
                Внутренние технические чаты<br/>
                Возможность полного офлайн режима работы<br/>
                Защита конфиденциальных данных (шифрование / EMM)</p>
        </div>
        <div id="3" class="tabcontent outsrc_tabcontent outsrc_tabcontent__just-text  fifth-po1-tab">
            <p>Настраиваемые виджеты – чтобы быть всегда в курсе
            </p>
        </div>
    </div>
</div>