{% load static %}

<div class="second-block second-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border second-block-pks-title">Возможности программного обеспечения</p>
    <div class="second-block-partners__content">
        <div class="second-block-partners__content-left">
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Управление сервисными службами предприятия</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Управление бизнес-процессами</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Управление ИТ-активами (собственными и на ответственном хранении)
                </p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Управление ИТ-процессами</p>
            </div>
        </div>
        <div class="second-block-po1__content-middle">
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Управление автопарком предприятия</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Контроль выполнения задач</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Контроль загруженности персонала</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Контроль работы удаленных сотрудников</p>
            </div>
        </div>
        <div class="second-block-partners__content-right">
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Управление автопарком предприятия</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Контроль выполнения задач</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Контроль загруженности персонала</p>
            </div>
            <div class="first-block__item second-block-partners-item po1-block-2">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Контроль работы удаленных сотрудников</p>
            </div>
        </div>
    </div>
</div>