{% load static %}

<div class="seventh-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="sixth-block__title contact-us-title">
        <p class="main-title">Описание мобильной версии</p>
    </div>
    <div class="text-block po1-text-block">
        Сопутствующее ПО<br/>
        Данные приложения должны быть установлены на смартфон дополнительно к M4 mobile:<br/>
        <span class="main-color">Если хотим строить маршруты из M4:</span><br/>
        <ul>
            <li>Google Maps</li>
            <li>Яндекс-Навигатор</li>
            <li>2ГИС</li>
            <li>или аналог</li>
        </ul>
        <span class="main-color">Если хотим распечатывать шаблоны документов:</span>
        <ul>
            <li>Noko Print</li>
            <li>или аналог</li>
        </ul>
    </div>
</div>