{% load static %}

<div class="third-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Заоблачная выгода!</p>
    <div class="po1-third-block">
        <div class="po1-third-block-item">
            <p>сокращение времени решения обращений (инцидентов, задач)</p>
        </div>
        <div class="po1-third-block-item">
            <p>отсутствие потерь ИТ-активов</p>
        </div>
        <div class="po1-third-block-item">
            <p>соблюдение ИТ-процессов</p>
        </div>
        <div class="po1-third-block-item">
            <p>легкая постановка задач
                и проверка
                их выполнения</p>
        </div>
        <div class="po1-third-block-item">
            <p>уменьшение времени простоя автопарка</p>
        </div>
        <div class="po1-third-block-item">
            <p>повышение удовлетворенности и лояльности клиентов</p>
        </div>
        <div class="po1-third-block-item">
            <p>точный расчет трудозатрат сервисных служб для принятия правильных кадровых решений</p>
        </div>
        <div class="po1-third-block-item">
            <p>Вы в курсе, что происходит в компании!</p>
        </div>
    </div>
</div>