{% load static %}

<div class="first-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Покопийное обслуживание</p>
    <div class="text-block">Покопийный контракт — это самая современная система учета расходов и контроля за процессом
        печати.
        Покопийное обслуживание предполагает <span class="main-color">полную передачу</span> сервисного сопровождения
        процесса печати аутсорсинговой компании</div>
    <div class="sixth-block__title first-block-pks-bottom-title">
        <p class="main-title"><span class="main-color">Вам больше не нужно</span></p>
        <p class="sixth-block__subtitle first-block-pks-bottom-subtitle">заботиться о покупке оргтехники, комплектующих, тонер-картриджей, сервисном
            обслуживании</p>
    </div>
</div>