{% load static %}

<div class="third-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Почему выбирают нас — удобно, точно, четко</p>
    <div class="reasons-third-pks">
        <div class="reasons-outsrc__block third-pks">
            <img src="{% static 'imgs/pks/1.png' %}" alt="">
            <p>Детальный <span class="main-color">учет и контроль исполнения</span> заявок в удобной веб-консоли или в мобильном приложении</p>
        </div>
        <div class="reasons-outsrc__block third-pks">
            <img src="{% static 'imgs/pks/2.png' %}" alt="">
            <p>Сбор данных о <span class="main-color">числе произведенных отпечатков</span> на основании сервисных отчетов с устройств</p>
        </div>
        <div class="reasons-outsrc__block third-pks">
            <img src="{% static 'imgs/pks/3.png' %}" alt="">
            <p>Ежемесячный <span class="main-color">детализированный отчет</span> по всем печатающим устройствам на основании полученных данных</p>
        </div>
    </div>
</div>