{% load static %}

<div class="second-block second-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border second-block-pks-title">Мы работаем по строго определенным стандартам: </p>
    <div class="serv-params">
        <div class="serv-params-block-top">
            <div class="serv-params-block">
                <p>время прибытия инженера</p>
            </div>
            <div class="serv-params-block">
                <p>мониторинг состояния печатающей техники</p>
            </div>
        </div>
        <div class="serv-params-block-middle">
            <div class="serv-params-block">
                <p>складские запасы тонер-картриджей и комплектующих</p>
            </div>
            <div class="serv-params-block-img"><img src="{% static 'imgs/serv-params.png' %}" alt=""></div>
            <div class="serv-params-block">
                <p>сроки восстановления процесса печати</p>
            </div>
        </div>
        <div class="serv-params-block-bottom">
            <div class="serv-params-block">
                <p>сроки нахождения техники в сервисном центре</p>
            </div>
            <div class="serv-params-block">
                <p>сроки установки подменного оборудования</p>
            </div>
        </div>
    </div>
</div>