{% load static %}

<div class="second-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Основные услуги</p>
    <div class="second-block-outsrc">
        <div class="second-block-outsrc__top">
            <div class="second-block-outsrc__item ">
                <p>Обслуживание<br/> онлайн касс</p>
            </div>
            <div class="second-block-outsrc__item">
                <p>Установка систем<br/> видеотрансляции</p>
            </div>
            <div class="second-block-outsrc__item">
                <p>Установка систем<br/> распознавания лиц</p>
            </div>
            <div class="second-block-outsrc__item">
                <p>ИТ-аудит и<br/> инвентаризация</p>
            </div>
        </div>
        <div class="second-block-outsrc__bottom">
            <div class="second-block-outsrc__item">
                <p>Установка касс<br/> самообслуживания (КСО)</p>
            </div>
            <div class="second-block-outsrc__item">
                <p>Открытие и закрытие<br/> магазинов</p>
            </div>
            <div class="second-block-outsrc__item">
                <p>Монтаж кабельных систем<br/>(СКС) и Wi-Fi</p>
            </div>
            <div class="second-block-outsrc__item">
                <p>Монтаж систем<br/>звукового оборудования</p>
            </div>
        </div>
    </div>
</div>