{% load static %}

<div class="first-block first-block-outsrc content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border first-block-outsrc-title">Комплексный аутсорсинг</p>
    <div class="text-block">Вот уже много лет наша компания организует комплексную поддержку ИТ-инфраструктуры для
        ритейла и филиальных сетей по всей России. Нам доверяют:
    </div>
    <div class="first-block__items">
        <div class="first-block__item">
            <p>Системы видеонаблюдения</p>
        </div>
        <div class="first-block__item">
            <p>Кассы и фискальные регистраторы</p>
        </div>
        <div class="first-block__item">
            <p>Ремонтные и проектные работы</p>
        </div>
        <div class="first-block__item">
            <p>Компьютеры и АРМ</p>
        </div>
        <div class="first-block__item">
            <p>Оргтехнику, включая поставку расходных материалов</p>
        </div>
        <div class="first-block__item">
            <p>Локальную сеть и СКС</p>
        </div>
    </div>
</div>