{% load static %}

<div class="fourth-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Три причины выбрать нас</p>
    <div class="reasons-outsrc">
        <div class="reasons-outsrc__block">
            <img src="{% static 'imgs/web-steps/1.png' %}" alt="">
            <p>Собственный подменный фонд ИТ-оборудования</p>
        </div>
        <div class="reasons-outsrc__block">
            <img src="{% static 'imgs/web-steps/2.png' %}" alt="">
            <p>Собственная система
                учета заявок, интегрируемая с системой любого заказчика</p>
        </div>
        <div class="reasons-outsrc__block-container">
            <div class="reasons-outsrc__block">
                <img src="{% static 'imgs/web-steps/3.png' %}" alt="">
                <p>Первая и вторая линия технической поддержки</p>
            </div>
        </div>
    </div>
</div>