{% load static %}

<div class="third-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Наши клиенты</p>
    <div class="swiper slider-clients">
        <div class="swiper-wrapper slider-clients-wrapper">
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/5.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/apteka366.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/chizhik.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/henderson.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/kfbelogorie.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/korzinka.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/medexpert.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/nahodka.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/rigla.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/verniy.jpg' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/vkusvill.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/x5.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <button class="form-modal-button">Стать клиентом</button>
</div>