{% load static %}

<div class="first-block content-block first-block-main" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="first-block__content">
        <div class="first-block__text first-block-main-text">
            <p class="main-title main-title__first-block">Надежный партнер для вашего бизнеса</p>
            <p class="first-block__subtitle">Один из лидеров на рынке ИТ-аутсорсинга</p>
        </div>
        <div class="faq">
            <div class="main-call-form">
                <div class="call-form main-call-form-form">
                    <p>Оставьте заявку</p>
                    <div class="main-call-form-form-inputs">
                        <input type="text" id="name" placeholder="*Имя">
                        <input class="call-form-tel" type="tel" id="phone" placeholder="*Телефон">
                    </div>
                    <button class="send-call-form">Отправить</button>
                </div>
            </div>
        </div>
    </div>


</div>