{% load static %}

<div class="fifth-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Наши партнеры</p>
    <div class="swiper2 slider-partners">
        <div class="swiper-wrapper slider-partners-wrapper">
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 11.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 12.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 13.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 14.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 15.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 16.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 17.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 18.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 19.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 20.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 25.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 22.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 23.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 24.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-partners-slide">
                <img src="{% static 'imgs/partners/Group 21.png' %}" alt="">
            </div>
        </div>
    </div>
    <button class="form-modal-button">Начать сотрудничество</button>
</div>

