{% load static %}

<div class="third-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Наши клиенты</p>
    <div class="swiper slider-clients">
        <div class="swiper-wrapper slider-clients-wrapper">
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/1.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/2.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/3.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/4.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/5.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/6.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/7.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/8.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/9.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/10.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/11.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/12.png' %}" alt="">
            </div>
            <div class="swiper-slide slider-clients-slide">
                <img src="{% static 'imgs/clients/13.png' %}" alt="">
            </div>
        </div>
    </div>
    <button class="form-modal-button">Стать клиентом</button>
</div>