{% load static %}

<div class="fourth-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Наши кейсы</p>
    <div class="cases-tabs">
        <div class="cases-tabs__buttons">
            <button class="tablinks" id="button_5"><img src="{% static 'imgs/cases/5ka.png' %}" alt=""></button>
            <button class="tablinks" id="button_rc"><img src="{% static 'imgs/cases/rc.png' %}" alt=""></button>
            <button class="tablinks" id="button_vv"><img src="{% static 'imgs/cases/vv.png' %}" alt=""></button>
            <button class="tablinks" id="button_molvest"><img src="{% static 'imgs/cases/molvest.png' %}"
                    alt=""></button>
        </div>
        <div id="5" class="tabcontent">
            <h2><span class="main-color font-weight">Задача: переход на полный аутсорсинг</span></h2><br /><br /><br />
            <p>
                <span class="main-color font-weight">Решение:</span><br /><br />
                1. ревизия процессов для соответствия требованиям качества обслуживания<br /><br />
                2. комплексное обслуживание ИТ-оборудования и кассовой техники<br /><br />
                3. аутсорсинг печати<br /><br />
                4. открытие складов запчастей и управление подменным фондом оборудования<br /><br />
                5. внедрение пилотных проектов: запуск системы распознавания лиц, установка касс самообслуживания,
                изменение сетевой инфраструктуры
            </p>
        </div>

        <div id="rc" class="tabcontent">
            <h2><span class="main-color font-weight">Задача: регулярное проведение пусконаладочных работ</span></h2>
            <br /><br /><br />
            <p>
                <span class="main-color font-weight">Решение:</span><br /><br />
                1. расчет сметы согласно техническому заданию и в соответствии с ИТ-стандартами<br /><br />
                2. проведение монтажных работ согласно форплану<br /><br />
                3. настройка всего ИТ-оборудования<br /><br />
                4. прокладка и разварка волоконно-оптической линии связи (ВОЛС)<br /><br />
                5. установка и монтаж систем видеонаблюдения
            </p>
        </div>

        <div id="vv" class="tabcontent">
            <h2><span class="main-color font-weight">Задача: запуск комплексного обслуживания ИТ-инфраструктуры
                    магазинов, дарксторов и микромаркетов</span> </h2>
            <br /><br /><br />
            <p>
                <span class="main-color font-weight">Решение:</span><br /><br />
                1. разработка и внедрение программно-аппаратного комплекса мониторинга холодильного
                оборудования<br /><br />
                2. разработка и внедрение программно-аппаратного комплекса видеонаблюдения с возможностью доступа через
                единое окно<br /><br />
                3. организация проактивных мер: внедрение инструментов мониторинга состояния оборудования<br /><br />
                4. организация бесперебойной работы ИТ-инфраструктуры на круглосуточных объектах
            </p>
        </div>

        <div id="molvest" class="tabcontent">
            <h2><span class="main-color font-weight">Задача:</span><br /><br /><br /></h2>
            <p>
                <span class="main-color font-weight">Решение:</span><br /><br />
                1. аутсорсинг печати термоэтикеток на производстве по маркировке групповых товаров по системе
                Меркурий<br /><br />
                2. поставка оборудования для печати<br /><br />
                3. поставка термоэтикеток с гарантией читабельности и сохранности качества на срок не менее 12
                месяцев<br /><br />
                4. ревизия процессов для соответствия требованиям качества обслуживания<br /><br />
                5. техническое обслуживание печатающего оборудования</p>
        </div>
    </div>
</div>