{% load static %}

<div class="footer-block  content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="footer-line"></div>
    <div class="footer-block__top">
        <div class="footer-block__logo">
            <img src="{% static 'imgs/logo.jpg' %}" alt="">
            <div class="footer-block__links-left">
                <div class="to-call-form"><img src="{% static 'imgs/phone.png' %}" alt=""></div>
                <a href="https://t.me/+UwcYLLHHQiRhNzFi"><img src="{% static 'imgs/telegram-footer.png' %}" alt=""></a>
                <a href="mailto:vasiliy.kartashev@printgrad.ru"><img src="{% static 'imgs/email-footer.png' %}"
                        alt=""></a>
            </div>
        </div>
        <div class="first-block__title footer-block__title">
            <p class="main-title">Сервисная компания Принтград</p>
            <p class="first-block__subtitle first-block__subtitle-footer">Комплексное обслуживание<br />
                ИТ-инфраструктуры для вашего бизнеса</p>
            <div class="footer-block__places">
                <div class="footer-block__places-content">
                    <!-- <img src="{% static 'imgs/place.png' %}" alt=""> -->
                    <p><a href="https://yandex.ru/maps/-/CDq3Q-06" target="_blank">г. Москва, ул. Кирпичные выемки, д.
                            2, к. 1</a></p>
                </div>
            </div>
            <div class="footer-block__places">
                <div class="footer-block__places-content">
                    <!-- <img src="{% static 'imgs/place.png' %}" alt=""> -->
                    <p><a href="https://yandex.ru/maps/-/CDq3U6~S" target="_blank">г. Воронеж, ул. Дружинников, д.
                            11</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="company-data">
        <div class="company-data__content">
            <p>© ООО «Управляющая ИТ Компания», 2024 ИНН 4824058567, ОГРН 1124823011653</p>
        </div>
    </div>
    <div class="footer-block__links">
        <div class="footer-block__links-right toUp-button">
            <img src="{% static 'imgs/toUp.png' %}" alt="">
        </div>
    </div>
</div>