{% load static %}

<div class="modal-wrapper">
    <div class="modal">
        <div class="modal-content">
            <p class="modal-title">Ключ к успеху вашего бизнеса</p>
            <div class="modal-blocks">
                <div class="modal-block">
                    <a href="">
                        <img src="{% static 'imgs/modal/modal1.png' %}" alt="">
                        <p>Поддержка ИТ и торгового оборудования</p>
                    </a>
                </div>
                <div class="modal-block">
                    <a href="">
                        <img src="{% static 'imgs/modal/modal2.png' %}" alt="">
                        <p>Комплексные проектные работы</p>
                    </a>
                </div>
                <div class="modal-block">
                    <a href="">
                        <img src="{% static 'imgs/modal/modal3.png' %}" alt="">
                        <p>Обслуживание копировальной техники</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-img"><img src="{% static 'imgs/modal/modal-robot.png' %}" alt=""></div>
        <img class="close-modal" src="{% static 'imgs/modal/close-modal.png' %}" alt="">
    </div>
</div>