{% load static %}

<div class="menu-wrapper">
    <div class="menu">
        <div class="menu-top">
            <div class="burger">
                <div class="burger__line"></div>
                <div class="burger__line"></div>
                <div class="burger__line"></div>
            </div>
            <div class="logo"><a href="{% url 'main' %}"><img src="{% static 'imgs/logo.jpg' %}" alt=""></a></div>
            <div class="contacts">
                <div class="phone">
                    <img src="" alt="">
                    <a href="tel:+78007707282">8 800 770 72 82</a>
                </div>
            </div>
        </div>
        <div class="menu-bottom">
            <div class="menu-links">
                <a href="{% url 'outsrc' %}">Аутсорсинг</a>
                <a href="{% url 'pks' %}">ПКС</a>
                <a href="{% url 'sks' %}">Проекты</a>
                <a href="https://работа-принтград.рф" target="_blank">Карьера</a>
                <div class="po-menu">
                    <p>ПО &#9660;</p>
                    <div class="po-menu-hidden _po-menu-hide">
                        <a href="{% url 'po1' %}">Подробнее</a>
                        <a href="{% url 'po2' %}">Загрузки и цены</a>
                    </div>
                </div>
                <a href="{% url 'partners' %}">Партнерам</a>
                <a href="{% url 'about_us' %}">О нас</a>
            </div>
        </div>
    </div>
</div>

<div class="burger-menu-links">
    <a href="{% url 'outsrc' %}">Аутсорсинг</a>
    <a href="{% url 'pks' %}">ПКС</a>
    <a href="{% url 'sks' %}">Проекты</a>
    <a href="https://работа-принтград.рф" target="_blank">Карьера</a>
    <div class="po-menu">
        <p>ПО &#9660;</p>
        <div class="po-menu-burger">
            <a href="{% url 'po1' %}">Подробнее</a>
            <a href="{% url 'po2' %}">Загрузки и цены</a>
        </div>
    </div>
    <a href="{% url 'partners' %}">Партнерам</a>
    <a href="{% url 'about_us' %}">О нас</a>
</div>