{% load static %}

<div class="fourth-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row first-block-table">
                <p><b>Микросервисы</b></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Микросервис Service Desk</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>"Отображение сотрудников* и объектов на карте. *При наличии мобильного приложения/gps трекеров у
                    исполнителей"</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Автоматическая маршрутизация заявок</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Дашборд. Аналитические данные.</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Kanban доска.</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Цикличные заявки</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Учет индивидуальных SLA по каждому клиенту</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>История обращений клиентов</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Встроенные отчеты</p>
                <p></p>
            </div>
        </div>
    </div>
</div>