{% load static %}

<div class="first-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Микросервис Утилизация сотрудников ( KPI )</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Ведение табеля смен сотрудников</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Планирование отпусков/доп выходов</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Модуль открытия/закрытия смен с соблюдением правил</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Расчет эффективности сотрудников</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Хронометраж выполнения задач</p>
                <p></p>
            </div>
        </div>
    </div>
</div>