{% load static %}

<div class="first-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Программное обеспечение М4 business
        Контроль. Управление. Оптимизация</p>
    <div class="text-block"><span class="main-color po2-main-title" href="">Загрузки</span></div>
    <div class="po2-first-block-link">
        <a href="https://printgrad.ru/assets/soft/TBuilder.exe">М4 Десктопная версия</a>
        <a href="https://apps.apple.com/ru/app/m4/id1579637244">М4 Мобильная версия (App Store)</a>
        <a href="https://play.google.com/store/apps/details?id=systems.m4.mobile4">М4 Мобильная версия (Google Play)</a>
        <a href="https://appgallery.huawei.ru/app/C106072581">М4 Мобильная версия (Huawei AppGallery)</a>
        <a href="https://apps.rustore.ru/app/systems.m4.service">М4 Мобильная версия (Rustore)</a>
    </div>
</div>