{% load static %}

<div class="eleventh-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Видеонаблюдение</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Онлайн просмотр камер</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Работа с архивом. Просмотр и скачивание</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check first-block-table">
                <p></p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Мониторинг холодильного оборудования</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Онлайн просмотр показателей</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Просмотр графиков показателей</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Генерация автоматических оповещений</p>
                <p></p>
            </div>
        </div>
    </div>
</div>