{% load static %}

<div class="tenth-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>WorkFlow</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Создание собственных бизнес процессов.</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check first-block-table">
                <p></p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Интеграционное ядро</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Подключение к действующим интеграциям</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Подключение новых информационных систем</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check first-block-table">
                <p></p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>CMDB</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Информация о расположении оборудования</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>История ремонтов и изменения конфигурации</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Привязка конфигурационных единиц к к конфигурационным единицам</p>
                <p></p>
            </div>
        </div>
    </div>
</div>