{% load static %}

<div class="sixth-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Микросервис Геолокация</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Отслеживание сотрудников</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Отслеживание автомобилей</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Маршруты и анализ перемещений</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Нарушения скоростного режима</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Закрытие заявки вне объекта обслуживания</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Возможность приобретения GPS трекеров и заведение их в систему</p>
                <p></p>
            </div>
        </div>
    </div>
</div>