{% load static %}

<div class="first-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Программное обеспечение М4 business
        Контроль. Управление. Оптимизация</p>
    <div class="text-block"><span class="main-color po2-main-title" href="">Цены</span></div>
    <div class="po2-pices-white">
        <div class="po2-prices-m4">
            <div class="po2-prices-m4-row">
                <p></p>
                <p><b>М4</b></p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Подписка 1 лицензия, 1 месяц</p>
                <p>1000</p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Подписка от 10 лицензий, 1 месяц</p>
                <p><s>700р.</s><br /> 350р.*</p>
            </div>
        </div>
        <div class="po2-color-block">
            <p>Скидка 50% для субъектов малого и среднего бизнеса</p>
            <p>*Для субъектов МСП до 15 декабря 2022 года или до окончания квоты предоставляется 50% скидка на
                программный
                продукт М4 по программе поддержки цифровизации малого и среднего бизнеса.</p>
            <p><a href="">Подробнее по ссылке...</a></p>
        </div>
    </div>
</div>