{% load static %}

<div class="first-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row first-block-table">
                <p><b>Функциональные возможности</b></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Обучающий курс по возможностям системы</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Видеоролики, инструкции</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Программа поддержки внедрения</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Личный менеджер</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Приоритетная поддержка</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Создание печатных форм для любых контрагентов</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Создание персонализированных отчетов</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Предоставление тестовой зоны</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Именные лицензии</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Конкурентные лицензии</p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Парковка домена</p>
                <p>&#10004;</p>
            </div>
        </div>
    </div>
</div>