{% load static %}

<div class="seventh-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Микросервис База знаний</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Файловое хранилище</p>
                <p>30гб</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Каталог статей</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Подгрузка необходимых статей в мобильное приложение, при открытии заявки исполнителем.</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Возможность расширения до LMS</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check first-block-table">
                <p></p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Мобильное приложение для исполнителей Android и iOS</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Работа с обращениями в режиме online и offline</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Работа с чек-листами.</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Заполнение печатных форм и их печать через Wifi или OTG</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Построение оптимальных маршрутов</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Работа с IT активами</p>
                <p></p>
            </div>
        </div>
    </div>
</div>