{% load static %}

<div class="first-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Мобильное приложение заявителя</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Создание обращений и контроль их выполнения</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Коммуникация с исполнителем в чате обращения</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Принятие работ или возврат на доработку обращений</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check first-block-table">
                <p></p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Микросервис Чек-листы</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Создание чек-листов</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Прикрепление чек-листов к обращениями</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Выгрузка отчета по завершению чек-листа</p>
                <p></p>
            </div>
        </div>
    </div>
</div>