{% load static %}

<div class="ninth-block first-block-pks content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="po2-pices-white">
        <div class="po2-prices-m4 po2-big-table">
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Микросервис Чаты</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row">
                <p>Интеграция с мессенджером Telegram</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Обработка всех обращений в М4. Единое окно.</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Создание обращений из чата</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Подключение смежных подразделений к чату, в случае необходимости</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Оповещение заявителя в чате о смене статуса обращения</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check first-block-table">
                <p></p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p><b>Клиентский портал</b></p>
                <p>&#10004;</p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Создание обращений и контроль их выполнения</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Коммуникация с исполнителем в чате обращения</p>
                <p></p>
            </div>
            <div class="po2-prices-m4-row po2-table-check">
                <p>Принятие работ или возврат на доработку обращений</p>
                <p></p>
            </div>
        </div>
    </div>
</div>