{% load static %}

<div class="first-block first-block-about-us content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">О компании</p>
    <div class="text-block">Принтград — преуспевающая компания, предлагающая спектр услуг по организации и поддержке
        работы всей инфраструктуры бизнеса любого уровня, от офисных до торговых и производственных объектов.
    </div>
    <div class="our-a4vs">
        <div class="our-a4vs-top">
            <div class="our-a4vs-item">
                <p class="our-a4vs-title">20</p>
                <p class="our-a4vs-subtitle">лет успешной работы на рынке</p>
            </div>
            <div class="our-a4vs-item">
                <p class="our-a4vs-title">100</p>
                <p class="our-a4vs-subtitle">городов в зоне обслуживания</p>
            </div>
            <div class="our-a4vs-item">
                <p class="our-a4vs-title">150+</p>
                <p class="our-a4vs-subtitle">постоянных клиентов</p>
            </div>
        </div>
        <div class="our-a4vs-bottom">
            <div class="our-a4vs-item">
                <p class="our-a4vs-title">1 500+</p>
                <p class="our-a4vs-subtitle">объектов открыто при нашей поддержке</p>
            </div>
            <div class="our-a4vs-item">
                <p class="our-a4vs-title">12 500</p>
                <p class="our-a4vs-subtitle">точек обслуживания</p>
            </div>
            <div class="our-a4vs-item">
                <p class="our-a4vs-title">200 000</p>
                <p class="our-a4vs-subtitle">единиц оборудования</p>
            </div>
        </div>
    </div>
</div>