{% load static %}

<div class="second-block second-block-about_us content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="first-block-pks-bottom-title">
        <p class="main-title">Мы берем на себя заботу о вашем бизнесе</p>
        <p class="sixth-block__subtitle first-block-pks-bottom-subtitle">...а также выполнение следующих задач</p>
    </div>
    <div class="second-block-about_us__content">
        <div class="second-block-about_us__content-top">
            <div class="second-block-about_us__content-item">
                <p>аутсорсинг печати</p>
            </div>
            <div class="second-block-about_us__content-item">
                <p>обслуживание весового оборудования</p>
            </div>
            <div class="second-block-about_us__content-item">
                <p>аудит оборудования</p>
            </div>
        </div>
        <div class="second-block-about_us__content-bottom">
            <div class="second-block-about_us__content-item">
                <p>утилизация</p>
            </div>
            <div class="second-block-about_us__content-item">
                <p>установка систем видеонаблюдения</p>
            </div>
        </div>
        <div class="second-block-about_us__content-middle">
            <div class="second-block-about_us__content-item">
                <p>пусконаладочные работы</p>
            </div>
            <div class="second-block-about_us__content-item">
                <p>обслуживание on-line касс</p>
            </div>
            <div class="second-block-about_us__content-item">
                <p>прокладка СКС</p>
            </div>
        </div>
    </div>
    <button class="form-modal-button to-main-services"><a href="{% url 'main' %}">Подробнее</a></button>
</div>