{% load static %}

<div class="fourth-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <div class="first-block-pks-bottom-title">
        <p class="main-title">Комплексное ИТ-обслуживание –
            гарантия стабильности и успеха вашего бизнеса</p>
    </div>
    <div class="text-block fourth-block-about-us-text">
        Наша миссия — работать на опережение, сохраняя и преумножая уровень нашего сервиса и, конечно, ваших доходов от
        сотрудничества с нами! Мы уже построили доверительные отношения с рядом крупных организаций России и помогли им
        <span class="main-color">перейти на новый уровень обслуживания</span>.
    </div>
    <button class="form-modal-button to-main-cases"><a href="{% url 'main' %}">Подробнее</a></button>
</div>