{% load static %}

<div class="third-block content-block" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Почему выбирают нас</p>
    <div class="third-block-about-us__content">
        <div class="third-block-about-us__content-top">
            <div class="about-us-card">
                <div class="third-block-about-us__content-item about-us-front-card">
                    <p class="about-us-card-text">Обслуживание 24/7</p>
                </div>
                <div class="third-block-about-us__content-item about-us-back-card">
                    <p class="about-us-card-text">Наши менеджеры круглосуточно на связи, ведь время - деньги</p>
                </div>
            </div>
            <div class="about-us-card">
                <div class="third-block-about-us__content-item about-us-front-card">
                    <p class="about-us-card-text">Сервисные центры на территориях РФ</p>
                </div>
                <div class="third-block-about-us__content-item about-us-back-card">
                    <p class="about-us-card-text">У нас есть все необходимое для безупречной работы</p>
                </div>
            </div>
            <div class="about-us-card">
                <div class="third-block-about-us__content-item about-us-front-card">
                    <p class="about-us-card-text">Выездная и удаленная поддержка</p>
                </div>
                <div class="third-block-about-us__content-item about-us-back-card">
                    <p class="about-us-card-text">Все наши специалисты точно знают, как решить вашу проблему</p>
                </div>
            </div>
        </div>
        <div class="third-block-about-us__content-bottom">
            <div class="about-us-card">
                <div class="third-block-about-us__content-item about-us-front-card">
                    <p class="about-us-card-text">Мануфактура расходных материалов</p>
                </div>
                <div class="third-block-about-us__content-item about-us-back-card">
                    <p class="about-us-card-text">Производим собственные картриджи на базе компании</p>
                </div>
            </div>
            <div class="about-us-card">
                <div class="third-block-about-us__content-item about-us-front-card">
                    <p class="about-us-card-text">Надежный поставщик оборудования</p>
                </div>
                <div class="third-block-about-us__content-item about-us-back-card">
                    <p class="about-us-card-text">Предлагаем оборудование с гарантией качества</p>
                </div>
            </div>
        </div>
    </div>
</div>