{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="" rel="shortcut icon">
    <link type="Image/x-icon" href="" rel="icon">
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/bg.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Принтград</title>
</head>

<body>
    <div class="greeting">
        <p>Принтград</p>
    </div>
    <div class="base">
        {% include 'common/bg.html' %}
        <div class="wrapper">
            {% include 'common/menu.html' %}
            {% include 'common/toBack.html' %}
            {% include 'common/greeting-modal.html' %}
            {% include 'common/modalForm.html' %}
            {% include 'common/contacts-fixed.html' %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/imask.js' %}"></script>
    <script src="{% static 'js/vars.js' %}"></script>
    <script src="{% static 'js/firstGreeting.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/clientsSlider.js' %}"></script>
    <script src="{% static 'js/partnersSlider.js' %}"></script>
    <script src="{% static 'js/tabsSlider.js' %}"></script>
    <script src="{% static 'js/po1InstrSlider.js' %}"></script>
    <script src="{% static 'js/mainSlider.js' %}"></script>
</body>

</html>