{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page">
    <div class="page__wrapper">
        <div class="page__screen screen">
            <div class="screen__content">
                {% include 'main_page_content/block1.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/1.jpg' %}" alt="" data-swiper-parallax="33%" -->
                        <!-- data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
        <div class="page__screen screen">
            <div class="screen__content">
                {% include 'main_page_content/block2.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/2.jpg' %}" alt="" data-swiper-parallax="33%"
                        data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
        <div class="page__screen screen">
            <div class="screen__content">
                {% include 'main_page_content/block3.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/2.jpg' %}" alt="" data-swiper-parallax="33%"
                        data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
        <div class="page__screen screen">
            <div class="screen__content">
                {% include 'main_page_content/block4.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/2.jpg' %}" alt="" data-swiper-parallax="33%"
                        data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
        <div class="page__screen screen">
            <div class="screen__content">
                {% include 'main_page_content/block5.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/2.jpg' %}" alt="" data-swiper-parallax="33%"
                        data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
        <div class="page__screen screen">
            <div class="screen__content">
                {% include 'main_page_content/block6.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/2.jpg' %}" alt="" data-swiper-parallax="33%"
                        data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
        <div class="page__screen screen">
            <div class="screen__content">
                {% include 'main_page_content/block7.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/2.jpg' %}" alt="" data-swiper-parallax="33%"
                        data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
        <div class="page__screen screen">
            <div class="screen__content footer-content">
                {% include 'main_page_content/footer.html' %}
            </div>
            <div class="screen__body">
                <div class="screen__image">
                    <!-- <img src="{% static 'imgs/2.jpg' %}" alt="" data-swiper-parallax="33%"
                        data-swiper-parallax-scale="1.2"> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}