{% load static %}

<div class="second-block second-block-partners" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border mini-title">Приглашаем к сотрудничеству партнеров</p>
    <div class="second-block-partners__content">
        <div class="second-block-partners__content-left">
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Поддерживаем розничные магазины, логистические компании, производственные площадки</p>
            </div>
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Услуги для вендоров</p>
            </div>
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Монтаж и поддержка серверного и сетевого оборудования</p>
            </div>
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Хранение подменного фонда и ЗиП</p>
            </div>
        </div>
        <div class="second-block-partners__content-right">
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Модульный ремонт ИТ-оборудования</p>
            </div>
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Установка и поддержка ПО</p>
            </div>
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Работаем в собственной системе учета заявок, легко интегрируемой с системой любого заказчика</p>
            </div>
            <div class="first-block__item second-block-partners-item">
                <img src="{% static 'imgs/checkmark.png' %}" alt="">
                <p>Хранение подменного фонда и ЗиП</p>
            </div>
        </div>
    </div>
</div>