{% load static %}

<div class="first-block first-block-partners" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border _partners-first-block-title">Партнерство</p>
    <div class="dams-partners-block">
        <div class="dams-partners-block-top">
            <div class="dams-partners-block-top-item">
                <div class="dams-partners-item">
                    <p>один из лидерова на рынке аутсорсинга</p>
                </div>
                <div class="dams-partners-item">
                    <p>индивидуальный подход к каждому клиенту</p>
                </div>
            </div>
            <div class="dams-partners-block-top-item">
                <div class="dams-partners-item _center-partners-item">
                    <p>почему выбирают нас</p>
                </div>
            </div>
            <div class="dams-partners-block-top-item">
                <div class="dams-partners-item">
                    <p>большой опыт — более 20 лет на рынке </p>
                </div>
                <div class="dams-partners-item">
                    <p>сбалансированная бизнес-модель</p>
                </div>
            </div>
        </div>
        <div class="dams-partners-block-bottom">
            <div class="dams-partners-item">
                <p>сильная команда менеджмента и инженеров</p>
            </div>
            <div class="dams-partners-item">
                <p>устойчивость результатов на всех этапах рыночного цикла</p>
            </div>
        </div>
    </div>
</div>