{% load static %}

<div class="third-block third-block-partners" data-swiper-parallax-opcaity="0" data-swiper-parallax="100%"
    data-swiper-parallax-duration="1000">
    <p class="main-title title-border">Кто может стать партнером</p>
    <div class="text-block partners-text-block">Партнёром может стать любая компания или поставщик вне зависимости от размера бизнеса и
        локации. Работаем с бизнесом любого уровня, на всей территории Российской Федерации.
    </div>
    <button class="form-modal-button">Начать сотрудничество</button>
</div>